body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
}
button{
    width: 50%;
    height: 50px;
    border: 6px solid white;
    color: white;
    font-size: larger;
    background-color: #3f86a550;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #f69c3c50;
}

th{
width: 11.11%;
border: 7px solid white;
}

td{
    border: 3px solid white;
}

